
:root {
  --color_primary: #064976;
  --color_accent: #763306;
  --color_bg: #343e3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color_bg);

}

.vl {
  border-left: 0.1rem solid #ccc;
  height: 100vh;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

section {
  margin: 1.2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: black 1px 1px 10px 1px;
  height: 90vh;
  color: var(--color_primary);
}
section:hover{
  box-shadow: none;
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-buttons {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.hero-buttons button {
  margin: 0 2rem;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 480px) {
  .hro button {
    margin: 0.5rem;
    padding: 0rem 2rem;
  }
}

.hero h1 {
  font-size: 4rem;
  margin: 4rem;
  text-align: center;
}
